<% include ../partials/header %> 

 <div class="container">
     <header>
         <div class="ui container segment">
             <h1>Smart Teens</h1>
             <p>Level 1</p>
             <p>
    <!--            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>-->
             </p>
         </div>
     </header>
      <div class="container">
     <div class="ui three column grid stackable">
  <div class="column">
    <div class="ui segment">
   
       <div class="ui large header green centered">Projects</div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
            <div class="ui large header green centered">Grade book</div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui large header green centered">Resources</div>
    </div>
  </div>
  </div>
     
     
     
     
     
     
     
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>

                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
