<% include ./partials/header %> 


  <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui text container form-width">
        
       
            <form action="/login" class="ui form " method="post">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i> <input name="username"
                            placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i> <input name="password"
                            placeholder="Password" type="password">
                        </div>
                    </div><button class=
                    "ui fluid large green submit button">Login</button>
                </div>
                <div class="ui error message"></div>
            </form>
 
            <div class="ui message compact">
                New to us? <a href="/register">Sign Up</a>
            </div>
        </div>
  </div>
</div>

<% include ./partials/footer %> 
